# https://www.phildev.net/ssl/opensslconf.html

[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_ca 
prompt = no

[req_distinguished_name]
commonName = localhost

[v3_ca]
basicConstraints = CA:TRUE 
keyUsage = digitalSignature, keyCertSign, cRLSign 