events {
    worker_connections 16;
}

http {
    server {
        listen 80;

        location / {
            proxy_pass http://localhost:8080;
            error_page 404 = @fallback;
        }

        location @fallback {
            proxy_pass ${PROXY_PASS_URL};
        }
    }
}
