events {
    worker_connections 16;
}

http {
    upstream app {
        server http://localhost:8080/;
        server ${PROXY_PASS_URL} backup;
    }
    server {
        listen 80;

        location / {
            proxy_pass app;
            proxy_connect_timeout 1s;
            proxy_read_timeout 1s;
        }

    }
}
