events {
    worker_connections 16;
}

http {
    server {
        listen 80;

        location / {
            proxy_pass {{ proxied_edge_server }};

            # If local edge server is not up or can't handle the query arguments, 
            # then fallback to the cloud API server.
            # 422  - Unprocessable Entity
            # 404  - Not Found
            # 405  - Method Not Allowed
            # 500  - Internal Server Error
            proxy_intercept_errors on;
            error_page 422 404 405 500 = @fallback;
        }

        location @fallback {
            proxy_pass https://api.groundlight.ai;
        }

    }
}
