events {
    worker_connections 16;
}

http {
    server {
        listen 80;
        server_name localhost;

        location / {
            proxy_pass {{ proxied_edge_server }};

            # This is used to forward all necessary headers to the API server.
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-For $remote_addr;
        }

        error_page 404 = @fallback;
        error_page 500 502 503 504 = @fallback;

        location @fallback {
            proxy_pass https://api.groundlight.ai;
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-For $remote_addr;
        }
    }
}
